
.link{
text-decoration: none;
color: black;
}
.link:hover{
    color: green;
}
.link:focus{
    border-bottom: 1px solid green;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px;
    margin-bottom: 50px;
}

.categoryContainer{
    display: flex;
    flex-direction: row;
}
.category{
    text-transform: uppercase;
    font-weight: lighter;
    margin-right: 10px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    
}




.headerActions{
    display: flex;
    flex-direction: row;
}
.action{
    font-size: large;
    text-transform: uppercase;
    font-weight:lighter;
    border: 0;
    width: 32px;
    cursor: pointer;
    margin-right: 5px;
}



.imgContainer{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.shopIcon{
    margin: 0;
    width: 50px;
    height: 50px;
    justify-self: center;
}

.cart{
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.cartIndicator{
    position: absolute;
    width: 35px;
    height: 25px;
    top:0;
    left:41px
}

.cartQuantity{
    position: absolute;
    bottom: 24px;
    color: aqua;
    left:54px;
}